@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.ual-title,
.ual-subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}
.ual-generic-wrapper {
  padding: 10px;
}
.ual-generic-button {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 20px;
  margin: 20px;
  color: #030056;
  border-radius: 4px;
  cursor: pointer;
  background-color: #6fbeff;
}
.ual-generic-button.blue {
  color: #ffffff;
  background-color: #4056f4;
}
.ual-generic-button.red {
  color: #cebbc9;
  background-color: #ce2d4f;
}
.ual-btn-wrapper {
  margin: 20px 0px 40px 0px;
}
